/node_modules/
/howtorun
/node_modules/.bin/ng
/node_modules/.bin/tsc
/map/node_modules/
howtobuild
public/
threat-visualizer/
/src/app/.data.service.ts.swp
/.data.json.swp
/data.bak.json
/data1000.json
