<i class="fa"></i>
<div style="height: 700px">
    <x-map #xmap [Options]="_options" [Box]="_box">
        <ng-container *ngFor="let m of items; let i=index">
            <x-map-marker *ngIf="searchMatches(m, filterValue)" [Latitude]="m.geoloc.latitude" [Longitude]="m.geoloc.longitude" [Title]="'My Marker ' + i.toString()" [IconInfo]="_iconInfo">
                <x-info-box [DisableAutoPan]="true" [Title]="m.id + ': '" [Description]="m.domain">
                </x-info-box>
            </x-map-marker>
        </ng-container>
    </x-map>
</div>

<span>Filter</span><input [(ngModel)]="filterValue"> <!-- (keyup)="filter()"><button (click)="filter()">Submit</button>
                                  -->
<table>
    <tr>
        <th>Rank</th>
        <th>Domain</th>
        <th>Coordinates</th>
        <th>Hostname</th>
    </tr>
    <ng-container *ngFor="let i of items">
        <tr *ngIf="searchMatches(i, filterValue)" >
            <td>{{i.id}}</td>
            <td>{{i.domain}}</td>
            <td>{{i.geoloc.latitude}}, {{i.geoloc.longitude}}</td>
            <td>{{i.hostname}}</td>
        </tr>
    </ng-container>
</table>
